body {
   min-width: 280px;
}
.container-hero{
   border: 2px solid gray;
   align-items: center;
   height: auto;
   min-width: 280px;
   justify-content: center;
}
.container-hero img {
   justify-self: center;
   align-items: center;
   margin: 0 auto;
}
#catalogo-main{
   min-width: 280px;
   height: 70vh;
   padding: 15 15 15 15 solid #5a3779;
   margin-top: 50px;
   border: 2px solid rgb(251, 136, 5);   
}
#columnas-catalogo {
 padding: 15 15 15 15;
}
#filas-catalogo {
   padding: 15 15 15 15;
   padding-top: 20px;
}
   .text-center {
      color:black;
      font-size: 2.4rem;
      padding: 5px;
      text-align: center;
   }

.bigicon {
   font-size: 30px;
   color: #36A0FF;
   margin: 1px;

}
.boton-enviar{
   margin-top: 30px;
   margin-bottom: 50px;

}
.lista-desarrolladores{
   padding-top: 2px;
   display: grid;
   font-family: sans-serif;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   font-size: 1.6rem;
   list-style-type: none;
   



}